<launch>

  <node name="left" pkg="usb_cam" type="usb_cam_node" respawn="true" ns="stereo">
  <param name="video_device" value="/dev/video1" />
  <param name="image_width" value="352" />
  <param name="image_height" value="288" />
  <param name="pixel_format" value="mjpeg" />
  </node>

  <node name="right" pkg="usb_cam" type="usb_cam_node" respawn="true" ns="stereo">
  <param name="video_device" value="/dev/video0" />
  <param name="image_width" value="352" />
  <param name="image_height" value="288" />
  <param name="pixel_format" value="mjpeg" />
  </node>

  <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="true" ns="stereo" >
  <param name="approximate_sync" value="True" />
  </node>

  <!-- <node name="viewer" pkg="image_view" type="stereo_view" ns="stereo">
  <param name="stereo" to="/stereo" />
  <param name="image" value="image_rect_color" />
  <param name="_image_transport" value="compressed" />
  </node> -->


</launch>
