<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" respawn="true" >
  <param name="video_device" value="/dev/video0" />
  <param name="image_width" value="320" />
  <param name="image_height" value="240" />
  </node>

  <node name="image_proc" pkg="image_proc" type="image_proc" respawn="true" ns="usb_cam" />


</launch>
